# ----------------------------------------------------------------------------
# Copyright (C) 2021-2022 Deepchecks (https://www.deepchecks.com)
#
# This file is part of Deepchecks.
# Deepchecks is distributed under the terms of the GNU Affero General
# Public License (version 3 or later).
# You should have received a copy of the GNU Affero General Public License
# along with Deepchecks.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------------
version: '3'

services:
  db:
    image: postgres:14-alpine
    restart: on-failure
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_MULTIPLE_DATABASES: deepchecks,casdoor
      POSTGRES_PASSWORD: password
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./bin/pg_multiple_databases:/docker-entrypoint-initdb.d

  casdoor:
    restart: always
    image: casbin/casdoor
    entrypoint: /bin/sh -c './server --createDatabase=true'
    ports:
      - "4545:4545"
    depends_on:
      - db
    environment:
      RUNNING_IN_DOCKER: "true"
    volumes:
      - ./bin/casbin_conf:/conf/
      - ./bin/casbin_conf/init_data/init_data.json:/init_data.json

  zookeeper:
    image: zookeeper:3.7.0
    restart: on-failure
    volumes:
      - zookeeper-datalog:/datalog
      - zookeeper-data:/data
      - zookeeper-logs:/logs
  kafka:
    image: bitnami/kafka:2.8.1-debian-10-r99
    restart: on-failure
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1001
      KAFKA_CFG_RESERVED_BROKER_MAX_ID: 1001
      KAFKA_CFG_LISTENER: PLAINTEXT://kafka:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      ALLOW_PLAINTEXT_LISTENER: 'true'
  redis:
    image: redis:6.2.7-alpine
    restart: on-failure
    ports:
      - '6379:6379'
    command: redis-server --maxmemory-policy allkeys-lru --maxmemory 200mb

volumes:
  zookeeper-data:
  zookeeper-datalog:
  zookeeper-logs:
  postgres-data:

networks:
  default:
    driver: bridge
    name: deepchecks
