fastapi>=0.78.0
sqlalchemy[asyncio]==1.4.39
dynaconf>=3.1.8
pydantic[dotenv]>=1.9.1
pendulum==2.1.2
jsonschema==4.7.2
asyncpg==0.25.0
alembic==1.8.0
click==8.1.3
psycopg2==2.9.3
orjson==3.7.7
python-multipart==0.0.5
jinja2==3.1.2
aiokafka==0.7.2
deepchecks[vision]@git+https://github.com/deepchecks/deepchecks.git@main
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-fastapi
