{
    auto_https disable_redirects
}

{$DOMAIN:localhost}:8443 {
    reverse_proxy http://casdoor:4545 {
        header_up Host {upstream_hostport}
        header_up X-Real-IP {remote_host}
    }
}

{$DOMAIN:localhost}, :443 {
    reverse_proxy http://app:8000
}

{$DOMAIN:localhost}:80 {
    reverse_proxy http://app:8000
}